<html>
  <head>
    <title>Pressure Drop</title>
    <style>
    h1 {
      text-align: center;
      color: #465BD7;
      font-family: "Times New Roman", times;
      font-style: oblique;
      font-size: 150%;
    }
    input {
      color: #212E80;
      font-family: serif;
    }
    button{
      border-radius: 4px;
      font-family: "Geneva", sans-serif;
      font-size: 25px;
      color: #21824E;
      background-color: #CEDAD9;
    }
    option{
      border-radius: 4px;
      font-family: serif;
      background-color: #CEDAD9;
    }
    </style>
  </head>
  <body>
    <h1>
      Pressure Drop Across Pipe Calculator
    </h1>
    <form action="{{  url_for('result') }}" method="post">
      <div1>
          <input type="number" step="any" placeholder="Flow ID" name="id">
          <select class="unit" name="iunits">
            <option value="in">in</option>
            <option value="cm">cm</option>
          </select><br>
        <br>
          <input type="number" step="any" placeholder="Liquid Flow Rate" name="flrt">
          <select id="funit" name="funits">
            <option value="gpm">gpm</option>
            <option value="lpm">lpm</option>
          </select><br>
          <br>
            <input type="number" step="any" placeholder="Pipe Length" name="fltg">
            <select class="unit" name="lunits">
              <option value="in">in</option>
              <option value="cm">cm</option>
            </select><br>
            <br>
            <label for="ltype">Choose Liquid:</label><br>
            <select id="ltype" name="ltypes">
              <option value="water">Water</option>
              <option value="beer">Beer</option>
              <option value="milk">Milk</option>
            </select><br>
            <br>
            <button>Submit</button>
      </div1>
    </form>
  </body>
</html>
