<html>
  <head>
    <title>Pressure Drop</title>
  </head>
  <body>
    <h1>
      Pressure Drop Across Pipe Calculator
    </h1>
    <form action="{{  url_for('result') }}" method="post">
      <div1>
          <input type="number" step="any" placeholder="Flow ID" name="id">
          <select class="unit" name="iunits">
            <option value="in">in</option>
            <option value="cm">cm</option>
          </select><br>
        <br>
          <input type="number" step="any" placeholder="Liquid Flow Rate" name="flrt">
          <select id="funit" name="funits">
            <option value="gpm">gpm</option>
            <option value="lpm">lpm</option>
          </select><br>
          <br>
            <input type="number" step="any" placeholder="Pipe Length" name="fltg">
            <select class="unit" name="lunits">
              <option value="in">in</option>
              <option value="cm">cm</option>
            </select><br>
            <br>
            <label for="ltype">Choose Liquid:</label><br>
            <select id="ltype" name="ltypes">
              <option value="water">Water</option>
              <option value="beer">Beer</option>
              <option value="milk">Milk</option>
            </select><br>
            <br>
            <button>Submit</button>
      </div1>
    </form>
  </body>
</html>
